<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scripts</title>
</head>
<body>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/isotope.min.js" th:src="@{/js/isotope.min.js}"></script>
<script src="/js/owl-carousel.js" th:src="@{/js/owl-carousel.js}"></script>
<script src="/js/tabs.js" th:src="@{/js/tabs.js}"></script>
<script src="/js/popup.js" th:src="@{/js/popup.js}"></script>
<script src="/js/custom.js" th:src="@{/js/custom.js}"></script>
<script src="/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>