<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{commons/fragments::head}">

</head>

<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" th:replace="~{commons/fragments::nav}">

</header>
<!-- ***** Header Area End ***** -->

<div id="modal" class="popupContainer" style="display:none;">
  <!-- Modal content -->
</div>

<div class="page-heading">
  <!-- Page heading content -->
</div>

<div class="top-categories" th:object="${categories}">
  <div class="row">
    <div class="col-md-4" th:each="category : ${categories}">
      <div class="card mb-4 shadow-sm">
        <img th:src="${category.photoUrl}" class="card-img-top" alt="Category Image">
        <div class="card-body">
          <h5 class="card-title">
            <a th:href="@{/categories/{name}(name=${category.name})}" th:text="${category.name}">Category Name</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="featured-contests">
  <!-- Featured contests content -->
</section>

<section class="testimonials">
  <!-- Testimonials content -->
</section>

<footer th:replace="~{commons/fragments::footer}"></footer>

<!-- Scripts -->

<div th:replace="~{commons/scripts::body}"></div>
</body>
</html>