<!DOCTYPE html>
<html lang="en">
<head th:replace="~{commons/fragments::head}">

    <!--

    TemplateMo 576 SnapX Photography

    https://templatemo.com/tm-576-snapx-photography

    -->
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" th:replace="~{commons/fragments::nav}">

</header>
<!-- ***** Header Area End ***** -->
<main>
    <div class="container">
        <h1 th:text="${category.name}">Category Name</h1>
        <img th:src="${category.photoUrl}" alt="Category Image" style="width: 100%; max-width: 300px; height: auto;">
        <p th:text="${category.description}">Category Description</p>
    </div>

    <div class="top-contests" th:object="${contestsByCategory}">
        <div class="row">
            <div class="col-md-4" th:each="contest : ${contestsByCategory}">
                <div class="card mb-4 shadow-sm">
<!--                    <img th:src="${contest.photoUrl}" class="card-img-top" alt="Contest Image">-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${contest.title}">Contest Name</h5>
                        <p class="card-text" th:text="${contest.description}">Contest Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!-- Footer content -->
</footer>
</body>
</html>