<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head th:replace="~{commons/fragments::head}">

  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky" th:replace="~{commons/fragments::nav}">

  </header>
  <!-- ***** Header Area End ***** -->


  <div class="page-heading" th:object="${contest}"  th:data-enddate="*{startPhase3}">
    <div class="container" >
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2 class="space-need" th:text="*{title}">A Walk In The Nature <em>Contest</em></h2>
          <h6>Contest Deadline</h6>
          <div class="main-content">
            <div class="counter" th:datetime-local="${contest.startPhase3}">
              <div class="days">
                <div class="value" th:text="*{daysRemaining}">00</div>
                <span>Days</span>
              </div>
              <div class="hours">
                <div class="value" th:text="*{hoursRemaining}">00</div>
                <span>Hours</span>
              </div>
              <div class="minutes">
                <div class="value" th:text="*{minutesRemaining}">00</div>
                <span>Minutes</span>
              </div>
              <div class="seconds">
                <div class="value" th:text="*{secondsRemaining}">00</div>
                <span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contest-details">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-content">
            <div class="row">
              <div class="col-lg-4">
                <span class="open">Open Contest</span>
                <span class="wish-list"><i class="fa fa-heart"></i> Add To Your Favorites</span>
              </div>
              <div class="col-lg-8">
                <ul>
                  <li><i class="fa fa-medal"></i> <span>Award:</span> $2,400</li>
                  <li><span>Time left:</span> 7 Days</li>
                  <li><span>Participants:</span> 118</li>
                  <li><span>Submittions:</span> 280</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="main-content">
            <h4>Requirements Of The Contest</h4>
            <h6>Picture Should Have</h6>
            <p>SnapX Photography is a professional website template with 5 different HTML pages for maximum customizations. This is based on Bootstrap v5.1.3 CSS framework. Please visit TemplateMo website to see more CSS templates.</p>
            <p>You are allowed to 100% freely use this SnapX Template for your commercial websites. You are not allowed to redistribute the template ZIP file on any other Free CSS Template collection websites.</p>
            <h6 class="second-title">Picture Should Not Have</h6>
            <p>We hope this template is very useful for your website development. If you wish to <a rel="nofollow" href="https://templatemo.com/contact" target="_blank">support TemplateMo</a>, you may make a small amount of donation via PayPal.</p>
            <p>If you need the PSD source files of this template, please feel free to contact TemplateMo. Our supporters are welcome.</p>
            <h4 class="second-title">Links To Inspire Your Photo</h4>
           <div th:if="${phase.name().equals('PHASE_1')}">
             <div class="row" >
               <div class="col-lg-3 col-6">
                 <div class="item">
                   <span>JPG</span>
                   <h5>A Trip In The Rain<br><h6>Previous Winner</h6></h5>
                 </div>
               </div>
               <div class="col-lg-3 col-6">
                 <div class="item">
                   <span>PNG</span>
                   <h5>A Trip In The Jungle<br><h6>Previous Winner</h6></h5>
                 </div>
               </div>
               <div class="col-lg-3 col-6">
                 <div class="item">
                   <span>PDF</span>
                   <h5>A Trip In The Mountain<br><h6>Previous Winner</h6></h5>
                 </div>
               </div>
               <div class="col-lg-3 col-6">
                 <div class="item">
                   <span>AI</span>
                   <h5>A Trip In The Forest<br><h6>Previous Winner</h6></h5>
                 </div>
               </div>
             </div>
             <div class="main-button" th:if="${!IsFound}" >
               <a th:href="@{/contests/{id}/submissions(id=${id})}">Submit Your Photo</a>
             </div>
             <div class="main-button" th:unless="${!IsFound}">
               <a th:href="@{/user/openContests}">Already submitted photo for this contest, check out the other contests!</a>
             </div>
           </div>
            <div >

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="contest-waiting">
    <div class="container" th:if="${submissions != null}">
      <div class="row">
        <div class="col-lg-12">
          <h5>Photo Submissions</h5>
        </div>
        <div class="col-lg-3 col-sm-6" th:each="submission : ${submissions}">
          <div class="waiting-item" th:object="${submission}">
            <img th:src="*{photoUrl}" alt="">
            <div class="down-content">
              <h4 th:text="*{title}">Photo Title</h4>
              <p th:text="*{story}">Photo Story</p>
              <span class="price">Creator: <em th:text="*{creator.getEmail()}">$0</em></span>
              <!--                          <span class="deadline">Deadline: <em th:text="*{startPhase3}">0 Days</em></span>-->
            </div>
            <div class="border-button">
              <a th:href="@{/submissions/{id}(id=${submission.getId()})}">Review Photo</a>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2048 <a href="#">SnapX</a> Photo Contest Co., Ltd. All rights reserved. 
          
          Design: <a title="CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution: <a title="CSS Templatesss" rel="sponsored" href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js" th:href="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

  <script src="/js/isotope.min.js" th:href="@{/js/isotope.min.js}"></script>
  <script src="/js/owl-carousel.js" th:href="@{/js/owl-carousel.js}"></script>

  <script src="/js/tabs.js" th:href="@{/js/tabs.js}"></script>
  <script src="/js/popup.js" th:href="@{/js/popup.js}"></script>
  <script src="/js/custom.js" th:href="@{/js/custom.js}"></script>

  </body>
</html>