<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{commons/fragments::head}">
    <!--    <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">-->
    <!--    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>-->
    <!--    <script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>-->
</head>
<body>
<header th:replace="~{commons/fragments::header}"></header>
<div class="page-heading" th:object="${contestViewDto}" th:data-enddate="*{startPhase3}"
     th:style="'background-image: url(' + ${contestViewDto.getPhotoUrl()} + '); background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: 200px; padding-bottom: 130px; text-align: center; background-color: #2a2a2a;'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 header-text">
                <h2 class="space-need" th:text="*{title}">A Walk In The Nature <em>Contest</em></h2>
                <h6>Contest Deadline</h6>
                <div class="main-content">
                    <div class="counter" th:datetime-local="${contestViewDto.startPhase3}">
                        <div class="days">
                            <div class="value" th:text="*{daysRemaining}">00</div>
                            <span>Days</span>
                        </div>
                        <div class="hours">
                            <div class="value" th:text="*{hoursRemaining}">00</div>
                            <span>Hours</span>
                        </div>
                        <div class="minutes">
                            <div class="value" th:text="*{minutesRemaining}">00</div>
                            <span>Minutes</span>
                        </div>
                        <div class="seconds">
                            <div class="value" th:text="*{secondsRemaining}">00</div>
                            <span>Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contest-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-content">
                    <div class="row">
                        <div class="col-lg-4" style="text-align: center;">
                            <span class="open" th:text="${contestDto.getPhase().name()}">Open Contest</span>
                            <span class="wish-list">
            <i class="fa fa-scroll" th:text="' ' + ${contestDto.category.name}"></i></span>
                        </div>
                        <div class="col-lg-8">
                            <ul>
                                <li>
                                    <i class="fa fa-hourglass"></i> Time left:
                                    <span th:text="'Days: ' + ${contestViewDto.getDaysRemaining()}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-content">
                    <h4>Requirements Of The Contest</h4>
                    <h6>Picture Should Have</h6>
                    <p th:text="${contestDto.description}"></p>
                    <!--                    <p>You are allowed to 100% freely use this SnapX Template for your commercial websites. You are not allowed to redistribute the template ZIP file on any other Free CSS Template collection websites.</p>-->
                    <h6 class="second-title"
                        th:text="'Picture photo must match the category - ' + ${contestDto.category.name}"></h6>
                    <!--                    <p>We hope this template is very useful for your website development. If you wish to <a rel="nofollow" href="https://templatemo.com/contact" target="_blank">support TemplateMo</a>, you may make a small amount of donation via PayPal.</p>-->
                    <!--                    <p>If you need the PSD source files of this template, please feel free to contact TemplateMo. Our supporters are welcome.</p>-->

                    <!-- Form for adding invitational users -->
                    <div class="main-content" th:if="${type.equals('INVITATIONAL')}">
                        <h4>Add Invitational Users</h4>
                        <form th:action="@{/admin/editContest/{id}/addInvitationalUser(id=${contestDto.getId()})}"
                              method="post">
                            <input type="hidden" name="_method" value="post"/>
                            <div class="form-group">
                                <label for="invUserEmail">User Email:</label>
                                <input type="email" id="invUserEmail" name="email" class="form-control" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Add User</button>
                        </form>
                        <br>
                        <div class="inline-users" style=" /* Blue background */
                        /* White text color */
                        padding: 10px;
                        border-radius: 7px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;">
                            <div th:each="user : ${invitedUsers}" th:object="${user}" class="user-email" style="background-color: #00bdfe; /* Blue background */
            color: #fff; /* White text color */
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 1rem;
            display: inline-block;">
                                <span th:text="*{getEmail()}"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Form for adding jury members -->
                    <div class="main-content">
                        <h4>Add Jury Members</h4>
                        <form th:action="@{/admin/editContest/{id}/addJuryMember(id=${contestDto.getId()})}"
                              method="post">
                            <input type="hidden" name="_method" value="post"/>
                            <div class="form-group">
                                <label for="juryMemberEmail">Jury Member Email:</label>
                                <input type="email" id="juryMemberEmail" name="email" class="form-control" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Add Jury Member</button>
                        </form>
                        <br>
                        <div class="inline-users" style=" /* Blue background */
                        /* White text color */
                        padding: 10px;
                        border-radius: 7px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;">
                            <div th:each="user : ${jury}" th:object="${user}" class="user-email" style="background-color: #00bdfe; /* Blue background */
            color: #fff; /* White text color */
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 1rem;
            display: inline-block;">
                                <span th:text="*{getEmail()}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="main-button">
                        <a th:href="@{/admin/notStarted}">Go To Not Started Contests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("Document is ready!");

        $("#invUserEmail").autocomplete({
            source: function (request, response) {
                console.log("Autocomplete triggered with term: ", request.term);

                $.ajax({
                    url: "/admin/usernames",
                    type: "GET",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log("Autocomplete data received: ", data);
                        response(data);
                    },
                    error: function (xhr) {
                        console.error("Autocomplete error: ", xhr);
                    }
                });
            },
            minLength: 2
        });

        $("#juryMemberEmail").autocomplete({
            source: function (request, response) {
                console.log("Autocomplete triggered with term: ", request.term);

                $.ajax({
                    url: "/admin/usernames",
                    type: "GET",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log("Autocomplete data received: ", data);
                        response(data);
                    },
                    error: function (xhr) {
                        console.error("Autocomplete error: ", xhr);
                    }
                });
            },
            minLength: 2
        });
    });
</script>
<footer th:replace="~{commons/fragments::footer}"></footer>
<div th:replace="~{commons/scripts::body}"></div>
</body>
</html>