<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{commons/fragments::head}">
</head>

<body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" th:replace="~{commons/fragments::nav}">

</header>
<!-- ***** Header Area End ***** -->


<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 header-text">
                <h2>Discover what's currently going on at <em>SnapX</em></h2>
                <p>When you need Free CSS Templates, you just remember our website TemplateMo. We provide you best
                    quality website templates at absolutely free of charge. No hidden cost involved.</p>
            </div>
        </div>
    </div>
</div>

<section class="contest-waiting" style="padding: 50px 0; background-color: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 style="font-size: 1.5rem; font-weight: 600; color: #333; text-align: center; margin-bottom: 30px;">Finished Contests</h5>
            </div>
            <div class="col-lg-3 col-sm-6" th:each="contest : ${contests}" th:object="${contest}" style="margin-bottom: 30px;">
                <div class="waiting-item" style="background-color: #fff; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; justify-content: space-between; height: 400px;">
                    <div style="width: 100%; height: 200px; overflow: hidden;">
                        <img th:src="*{photoUrl}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="down-content" style="padding: 20px; text-align: center; flex-grow: 1;">
                        <h4 th:text="*{title}" style="font-size: 1.2rem; font-weight: 600; margin-bottom: 10px;">Contest Title</h4>
                        <p th:text="*{description}" style="font-size: 0.9rem; color: #666; margin-bottom: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">Contest Description</p>
                        <span class="deadline" style="display: block; font-weight: 500; margin-bottom: 10px;">Closed: <em th:text="*{startPhase3}" style="font-weight: bold;">0 Days</em></span>
                    </div>
                    <div class="border-button" style="padding: 10px; text-align: center;">
                        <a th:href="@{/contests/{id}(id=${contest.getId()})}" >Go To Contest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  <section class="contest-win">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--          <div class="section-heading text-center">-->
<!--            <h6>Recently Added Contests by Users</h6>-->
<!--            <h4>Current <em>Contests</em> to Enter Now &amp; <em>Win</em></h4>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <div class="contest-item">-->
<!--            <div class="top-content">-->
<!--              <span class="award">Award Price</span>-->
<!--              <span class="price">$1,200</span>-->
<!--            </div>-->
<!--            <img src="../static/images/contest-01.jpg" alt="">-->
<!--            <h4>Walk In The Nature Night</h4>-->
<!--            <div class="info">-->
<!--              <span class="participants"><img src="/images/icon-03.png" alt=""><br>80 Participants</span>-->
<!--              <span class="submittions"><img src="/images/icon-01.png" alt=""><br>260 Submissions</span>-->
<!--            </div>-->
<!--            <div class="border-button">-->
<!--              <a href="contest-details.html">Browse Nature Pic Contests</a>-->
<!--            </div>-->
<!--            <span class="info">* Client will pay via Online Payments</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <div class="contest-item">-->
<!--            <div class="top-content">-->
<!--              <span class="award">Award Price</span>-->
<!--              <span class="price">$2,400</span>-->
<!--            </div>-->
<!--            <img src="../static/images/contest-02.jpg" alt="">-->
<!--            <h4>Walk In The Nature Night</h4>-->
<!--            <div class="info">-->
<!--              <span class="participants"><img src="/images/icon-03.png" alt=""><br>60 Participants</span>-->
<!--              <span class="submittions"><img src="/images/icon-01.png" alt=""><br>212 Submissions</span>-->
<!--            </div>-->
<!--            <div class="border-button">-->
<!--              <a href="contest-details.html">Browse Nature Pic Contests</a>-->
<!--            </div>-->
<!--            <span class="info">* Client will pay via Online Payments</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <div class="contest-item">-->
<!--            <div class="top-content">-->
<!--              <span class="award">Award Price</span>-->
<!--              <span class="price">$3,600</span>-->
<!--            </div>-->
<!--            <img src="../static/images/contest-03.jpg" alt="">-->
<!--            <h4>Walk In The Nature Night</h4>-->
<!--            <div class="info">-->
<!--              <span class="participants"><img src="/images/icon-03.png" alt=""><br>55 Participants</span>-->
<!--              <span class="submittions"><img src="/images/icon-01.png" alt=""><br>150 Submissions</span>-->
<!--            </div>-->
<!--            <div class="border-button">-->
<!--              <a href="contest-details.html">Browse Nature Pic Contests</a>-->
<!--            </div>-->
<!--            <span class="info">* Client will pay via Online Payments</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <div class="contest-item">-->
<!--            <div class="top-content">-->
<!--              <span class="award">Award Price</span>-->
<!--              <span class="price">$4,800</span>-->
<!--            </div>-->
<!--            <img src="../static/images/contest-04.jpg" alt="">-->
<!--            <h4>Walk In The Nature Night</h4>-->
<!--            <div class="info">-->
<!--              <span class="participants"><img src="/images/icon-03.png" alt=""><br>40 Participants</span>-->
<!--              <span class="submittions"><img src="/images/icon-01.png" alt=""><br>120 Submissions</span>-->
<!--            </div>-->
<!--            <div class="border-button">-->
<!--              <a href="contest-details.html">Browse Nature Pic Contests</a>-->
<!--            </div>-->
<!--            <span class="info">* Client will pay via Online Payments</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-12">-->
<!--          <ul class="pagination">-->
<!--            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>-->
<!--            <li><a href="#">1</a></li>-->
<!--            <li class="active"><a href="#">2</a></li>-->
<!--            <li><a href="#">3</a></li>-->
<!--            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<footer th:replace="~{commons/fragments::footer}"></footer>

<!-- Scripts -->
<div th:replace="~{commons/scripts::body}"></div>

</body>
</html>