<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<header th:replace="~{commons/fragments::nav}"></header>
<div class="container">
    <div class="col-lg-12">
        <div class="section-heading text-center">
            <h6 th:text="${photoSubmission.title}"></h6>
            <h4><em th:text="${photoSubmission.story}"></em></h4>
        </div>
    </div>
    <h1>Photo Review</h1>
    <div class="card">
        <img class="card-img-top small-image" th:src="${photoSubmission.photoUrl}" alt="Photo Submission">
        <div class="card-body">
        </div>
    </div>
    <form th:action="@{/submissions/{id}(id=${photoSubmission.id})}" th:object="${review}" method="post">
        <div class="form-group">
            <label>Score (1-10)</label>
            <div class="radio-buttons">
                <label th:each="i : ${#numbers.sequence(1, 10)}">
                    <input type="radio" name="score" th:field="*{score}" th:value="${i}" required> <span th:text="${i}"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment" class="form-control" th:field="*{comment}" required></textarea>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" id="categoryMismatchCheckbox" name="categoryMismatch" class="form-check-input" th:field="*{categoryMismatch}">
            <label class="form-check-label" for="categoryMismatchCheckbox">Category Mismatch</label>
            <p>By checking this box, you agree to the <a href="#" onclick="openCategoryMismatchModal()">category mismatch terms and conditions</a>.</p>
            <div id="categoryMismatchModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Category Mismatch Terms and Conditions</h5>
                        <button type="button" class="close" aria-label="Close" onclick="closeCategoryMismatchModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="color: black;">By checking this box, you agree that the category mismatch cannot be changed once submitted. You also acknowledge that the organizer has the final say in the category assignment.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeCategoryMismatchModal()">Close</button>
                        <button type="button" class="btn btn-primary" onclick="acceptCategoryMismatchTerms()">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submitButton" >Submit Review</button>
    </form>
</div>
<!-- Scripts -->
<script>
    function openCategoryMismatchModal() {
        $('#categoryMismatchModal').fadeIn();
    }

    function closeCategoryMismatchModal() {
        $('#categoryMismatchModal').fadeOut(200);
    }

    function acceptCategoryMismatchTerms() {
        $('#categoryMismatchCheckbox').prop('checked', true);
        $('#submitButton').prop('disabled', false);
        closeCategoryMismatchModal();
    }

    $(document).ready(function () {
        $('#categoryMismatchCheckbox').change(function () {
            $('#submitButton').prop('disabled', !this.checked);
        });

        $('#createContestForm').submit(function (event) {
            if (!$('#categoryMismatchCheckbox').is(':checked')) {
                alert('You must agree to the category mismatch terms and conditions before submitting.');
                event.preventDefault();
            }
        });

        $('.close').click(function () {
            closeCategoryMismatchModal();
        });
    });
</script>
<script src="/vendor/jquery/jquery.min.js" th:href="@{/vendor/jquery/jquery.min.js}"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="/js/isotope.min.js" th:href="@{/js/isotope.min.js}"></script>
<script src="/js/owl-carousel.js" th:href="@{/js/owl-carousel.js}"></script>
<script src="/js/tabs.js" th:href="@{/js/tabs.js}"></script>
<script src="/js/popup.js" th:href="@{/js/popup.js}"></script>
<script src="/js/custom.js" th:href="@{/js/custom.js}"></script>
</body>
</html>