<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head}">

</head>
<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" th:replace="~{commons/fragments::nav}">

</header>
<!-- ***** Header Area End ***** -->

>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 header-text">
                <h2>View User's <em>Details</em></h2>

            </div>
        </div>
    </div>
</div>
<div class="search-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="search-form" name="gs" method="get" role="search" th:action="@{/admin/users}" th:object="${userFilter}">
                    <div class="row">
                        <div class="col-lg-4">
                            <fieldset>
                                <label for="email" class="form-label">Enter User Email</label>
                                <input type="text"  name="email" class="searchText" placeholder="User Email..." autocomplete="on" th:field="*{email}">
                            </fieldset>
                        </div>
                        <div class="col-lg-4">
                            <fieldset>
                                <label for="role" class="form-label">Pick Role</label>
                                <select name="role" class="form-select" aria-label="Choose a role" id="role" th:field="*{role}">
                                    <option value="" selected>Choose a Role</option>
                                    <option th:each="role : ${T(com.example.demo.models.UserRole).values()}"
                                            th:value="${role}" th:text="${role.name()}">
                                    </option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-2">
                            <fieldset>
                                <button class="main-button">Search Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Rank</th>
                    <th>Score</th>
<!--                    <th>Top Rated</th>-->
<!--                    <th>Profile Views</th>-->
<!--                    <th>Contests Won</th>-->
                    <th>Badge</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.getRole().name()}">Rank</td>
                    <td th:text="${user.getTotalScore()}">Score</td>
<!--                    <td th:text="${user.topRatedCategory}">Top Rated</td>-->
<!--                    <td th:text="${user.profileViews}">Profile Views</td>-->
<!--                    <td th:text="${user.contestsWon}">Contests Won</td>-->
                    <td><img th:src="${user.getBadgeUrl()}" alt="Badge" style="width: 30px; height: 30px;" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer th:replace="~{commons/fragments::footer}"></footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="~{commons/scripts::body}"></div>

</body>
</html>