<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/fragments::head}">

</head>
<body>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../static/images/logo.png" alt="SnapX Photography Template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)" class="active">Photos &amp; Videos</a>
                            <ul class="sub-menu">
                                <li><a href="contests.html">Contests</a></li>
                                <li><a href="contest-details.html">Single Contest</a></li>
                            </ul>
                        </li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="users.html">Users</a></li>
                    </ul>
                    <div class="border-button">
                        <a id="modal_trigger" href="#modal" class="sign-in-up"><i class="fa fa-user"></i> Sign In/Up</a>
                    </div>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

>

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 header-text">
                <h2>View User's Photos and <em>Contest Details</em></h2>
                <p>If you wish to <a rel="nofollow" href="https://templatemo.com/contact" target="_blank">support
                    TemplateMo</a>, you shall make a little amount of contribution via PayPal. We hope this SnapX
                    template is useful for your web development. Thank you.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Rank</th>
                    <th>Score</th>
                    <th>Top Rated</th>
                    <th>Profile Views</th>
                    <th>Contests Won</th>
                    <th>Total Earned</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
<!--                    <td th:text="${user.rank}">Rank</td>-->
<!--                    <td th:text="${user.score}">Score</td>-->
<!--                    <td th:text="${user.topRatedCategory}">Top Rated</td>-->
<!--                    <td th:text="${user.profileViews}">Profile Views</td>-->
<!--                    <td th:text="${user.contestsWon}">Contests Won</td>-->
<!--                    <td th:text="${user.totalEarned}">Total Earned</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="thumb">
                    <img src="../static/images/portfolio-01.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Walk In the Beach</h4>
                            <span>Ranked: <em>2nd</em></span>
                            <span>Award Won: <em>None</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="thumb">
                    <img src="../static/images/portfolio-02.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Walk In The Nature</h4>
                            <span>Ranked: <em>3rd</em></span>
                            <span>Award Won: <em>EOS R3</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumb">
                    <img src="../static/images/portfolio-03.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Walk In The Forest</h4>
                            <span>Ranked: <em>4th</em></span>
                            <span>Award: <em>EOS R7</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumb">
                    <img src="../static/images/portfolio-04.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Forest Nature</h4>
                            <span>Ranked: <em>2nd</em></span>
                            <span>Award: <em>EOS R3</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumb">
                    <img src="../static/images/portfolio-05.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Fly thru the river</h4>
                            <span>Ranked: <em>1st</em></span>
                            <span>Award: <em>EOS R1</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumb">
                    <img src="../static/images/portfolio-06.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Rocky Mountain</h4>
                            <span>Ranked: <em>2nd</em></span>
                            <span>Award Won: <em>None</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="thumb">
                    <img src="../static/images/portfolio-07.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Rocky Mountain . Part 2</h4>
                            <span>Ranked: <em>2nd</em></span>
                            <span>Award Won: <em>None</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumb">
                    <img src="../static/images/portfolio-08.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Blue Lake Nature</h4>
                            <span>Ranked: <em>4th</em></span>
                            <span>Award Won: <em>None</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumb">
                    <img src="../static/images/portfolio-09.jpg" alt="">
                    <div class="hover-effect">
                        <div class="content">
                            <h4>Walk In The Forest</h4>
                            <span>Ranked: <em>3rd</em></span>
                            <span>Award Won: <em>None</em></span>
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-button">
                    <a href="#">Load More Photos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h6>Contact This User</h6>
                    <h4>Don't Be Shy <em></em> to contact the <em>Photographer Now</em></h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone Numbers</h4>
                    <span><a href="#">010-020-0340</a><br><a href="#">090-080-0760</a></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email Addresses</h4>
                    <span><a href="#">info@company.com</a><br><a href="#">SnapX@company.com</a></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="fa fa-map-marked"></i>
                    <h4>Office Location</h4>
                    <span><a href="#">155 Michigan Ave, Chicago,<br>IL 60601, United States</a></span>
                </div>
            </div>
            <div class="col-lg-12">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="text" name="name" id="name" placeholder="Your Name..." autocomplete="on"
                                       required>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="text" name="telephone" id="telephone" placeholder="Your Telephone..."
                                       autocomplete="on" required>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="email" name="email" id="email" placeholder="Your E-mail..." required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input type="text" name="subject" id="subject" placeholder="Subject..."
                                       autocomplete="on">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" id="message" placeholder="Your Message"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{commons/fragments::footer}"></footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<div th:replace="~{commons/scripts::body}"></div>

</body>
</html>